{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Entry</h1>
    <form action="{% url 'save' %}" method="POST">
        {% csrf_token %}
        <p>Edit Title: </p>
        <input type="text" name="title" placeholder="enter new title:" value="{{ title }}">
        <p>Edit Content: </p>
        <textarea name="content" placeholder="start typing here:">
            {{content}}
        </textarea>
        <br>
       <input type="submit" value="Edit" class="btn btn-secondary">
   </form>

{% endblock %}