{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Entry</h1>
    <form action="{% url 'new' %}" method="POST">
        {% csrf_token %}
        <p>Title: </p>
        <input type="text" name="title" placeholder="enter title:">
        <p>Content: </p>
        <textarea name="content" placeholder="start typing here:">


        </textarea>
        <br>
       <input type="submit" value="New Entry" class="btn btn-secondary">
   </form>

{% endblock %}